body {
  padding: 0 10%;
}

.baike {
  display: flex;
}
.moji {
  text-align: center;
}
.moji2 {
  text-align: center;
}
.moji3 {
  text-align: center;
}
.div1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.img1 {
  zoom: 0.6;
}
.img2 {
  display: flex;
}
.img3 {
  zoom: 0.1;
}

.img4 {
  margin: 0 -30%;
}
.img4 img {
  width: 100vw;
}

.bicycle-img-container {
  overflow-x: scroll;
}
.item-container {
  padding: 10px;
}
